OPENAI_API_KEY=API_KEY_HERE
GOOGLEAI_API_KEY=API_KEY_HERE
TAVILY_API_KEY=API_KEY_HERE
VIRUSTOTAL_API_KEY=API_KEY_HERE
MAILTRAP_USERNAME=MAILTRAP_USERNAME
MAILTRAP_PASSWORD=MAILTRAP_PASSWORD
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
SOC_EMAIL_SENDER=soc@test.com
SOC_EMAIL_RECIPIENT=engineer.education.colab@gmail.com
ENV=dev